.App {
  text-align: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header ::content {
  margin-left: 10px;
}

.container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.section {
  align-items: center;
  justify-content: center;
}

.showButton {
  padding: 5px 10px;
  font-size: calc(5px + 1vmin);
}

ul {
  list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
